body {
    font-family: "lato", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 55px; 
}

.header {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0;
    height: 55px;
    border-radius: 3px;
    z-index: 10; 
}

.header .logo {
    order: 1;
    max-height: 45px;
}

.plan-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
}

.pricing-table {
    background: #f8f8f8;
    padding: 40px 20px;
    text-align: center;
}

.pricing-table .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 17px;
}

.pricing-table .details h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.pricing-table .details p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.pricing-table .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0px;
    padding: 20px;
}

.pricing-table .grid .box {
    width: 260px;
    height: 415px;
    border: 1px solid #eee;
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.05);
}

.pricing-table .grid .box .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #555;
}

.pricing-table .grid .box .price {
    margin-bottom: 20px;
    color: #3b3b3b;
}

.pricing-table .grid .box .price b {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
}

.pricing-table .grid .box .features > * {
    color: #3b3b3bd9;
    padding: 8px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pricing-table .grid .box .button button {
    width: 100%;
    margin: 25px 0px 0px;
    padding: 10px;
    background: #7e6182;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.pricing-table .grid .box.professional {
    transform: scale(1.1);
    background: #7e6182;
}

.pricing-table .grid .box.professional .title {
    color: #f8f8f8;
}

.box.professional .title b {
    margin-bottom: 10px;
}

.pricing-table .grid .box.professional .price {
    color: #f8f8f8;
}

.pricing-table .grid .box.professional .features > * {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.pricing-table .grid .box.professional .button button {
    background: #ffffff;
    color: #7e6182;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .pricing-table {
        padding: 20px;
    }

    .pricing-table .details h2 {
        font-size: 1.5rem;
    }

    .pricing-table .details p {
        font-size: 0.85rem;
    }

    .pricing-table .grid .box {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }

    .pricing-table .grid .box.professional {
        transform: scale(1);
    }

    .pricing-table .grid .box .price b {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 5px 10px;
    }

    .header .logo {
        max-height: 35px;
    }

    .pricing-table .details h2 {
        font-size: 1.25rem;
    }

    .pricing-table .details p {
        font-size: 0.90rem;
    }

    .pricing-table .grid .box {
        width: calc(100% - 20px);
        margin-bottom: 15px;
    }

    .pricing-table .grid .box .title {
        font-size: 1rem;
    }

    .pricing-table .grid .box .price b {
        font-size: 1.75rem;
    }

    .pricing-table .grid .box .features > * {
        padding: 6px 0;
    }
}
